{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="text-center mb-4">
        <a class="btn btn-success btn-lg" href="{% url 'add_new_item' %}">Add a New Item</a>
    </div>
    <div class="list-group">
        {% for item in items %}
            <div class="list-group-item list-group-item-action mb-3 shadow-sm rounded-4">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <h4 class="mb-0">{{ item }}</h4>
                    </div>
                    <div class="col-md-2 text-center">
                        <h4>{{ item.item_count }}</h4>
                    </div>
                    <div class="col-md-3 text-end">
                        <div class="btn-group p-3">
                            <a class="btn btn-primary" href="{% url 'remove_item' item.id %}">Remove Item</a>
                            <a class="btn btn-success" href="{% url 'add_item' item.id %}">Add Item</a>
                        </div>
                    </div>
                    <div class="col-md-3 text-end">
                        <div class="btn-group p-3">
                            <a class="btn btn-secondary" href="{% url 'edit_item' item.id %}">Edit</a>
                            <a class="btn btn-danger" href="{% url 'delete_item' item.id %}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
